.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#topRow {
  grid-column-start: 1;
  grid-column-end: 3;
}

#presentation {
  grid-column-start: 1;
  grid-column-end: 3;
}

footer {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-container {
  height: 1500px;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 1.5fr 1.5fr 0.5fr;
  grid-template-columns: auto auto;
  background-color: lightblue;
  padding: 50px;
  gap: 50px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 14px;
  font-size: 15px;
  text-align: center;
}